nav.navbar {
    background-color: var(--light);
    -webkit-box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.03);
    -moz-box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.03);
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.03);
}

h5.cat {
    font-family: var(--sans-serif-bold) !important;
    font-weight: bold;
}

img.logo {
    max-width: 275px;
}

.navbar-nav > a.nav-item.nav-link {
    margin: 2.5rem;
    font-size: 1rem;
    color: var(--dark);
    font-weight: 600;
    max-width: 200px;
    line-height: 1.5rem;
}

i.fal {
    font-size: 2rem;
    margin-top: 0.5rem;
}

#contact {
    margin-top: 0.5rem;
}
