.cat-detail {
    margin-top: 5rem;
    padding-bottom: 5rem;
}

.icon-img > i {
    font-size: 10rem;
    padding-top: 7rem;
}

h1.title {
    font-size: 4rem;
}

p.body {
    font-size: 2rem;
}


/* Cards */
.page-cards-section {
    background-color: var(--cloud);
    padding: 7rem 0;
}

.page-cards-section > .container-fluid {
    margin: 0 7rem;
}

.card-img-page-caption {
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
}

/* Rebate Cards */
h1.rebate-title {
    text-align: center;
    margin-bottom: 3rem;
}

.rebate-card-section {
    background-color: var(--cloud);
    padding-bottom: 15rem;
}

.cat-card {
    max-width: 23rem;
}

.cat-card-body {
    /*padding: 2rem 3rem;*/
    font-size: 1.5rem;
}

.img-url-icon > i {
    color: var(--plum);
    font-size: 3rem;
    display: inline-block;
    padding-top: 0.85rem;
}

/* Text Image Overlay */
.page-caption {
    position: relative;
    padding: 0;
    margin: 0;
}

.page-caption > img.category {
    display: block;
    width: 100%;
    height: auto;
}

.page-caption:after {
    content: "";
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    width: 300px;
    height: 100%;
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, rgba(0, 0, 0, 0) 0px, var(--plum-rgb) 100%) repeat 0 0;
    z-index: 1;
}

.page-caption-text {
    font-family: var(--sans-serif);
    font-size: 2rem;
    display: block;
    position: absolute;
    width: auto;
    color: #fff;
    left: 0;
    bottom: 0;
    padding: 1em;
    z-index: 2;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    white-space: pre-wrap;
    max-width: 300px;
}
