<!-- * CATEGORY-DETAIL * -->
<div class="container cat-detail" *ngIf="category">
    <div class="row">
        <div class="col-md-3 icon-img">
            <i [className]="category.imageUrl"></i>
        </div>
        <div class="col-md-9">
            <h1 class="title">{{ category.name }}</h1>
            <p class="body">
                {{ category.body }}
            </p>
        </div>
    </div>
</div>

<!-- * PAGES * -->
<div class="page-cards-section" [class.margin-bottom-lg]="category && !category.showCards">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-3 col-lg-3"
                 style="margin-bottom:1rem;"
                 *ngFor="let page of pages$ | async">
                <div class="page-cards">
                    <a [routerLink]="['/', page.category, page.url]">
                        <figure class="page-caption">
                            <img class="page-card-img"
                                 [src]="page.photoURL"
                                 [alt]="page.title"/>
                            <figcaption class="page-caption-text">{{ page.title }}</figcaption>
                        </figure>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- * CARDS * -->
<div class="rebate-card-section" *ngIf="category && category.showCards">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <h1 class="rebate-title">Rebate Programs</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-12" *ngIf="card1">
                <div class="card cat-card">
                    <a [href]="card1.url" *ngIf="!card1.isExtUrl">
                        <div class="card-body cat-card-body">
                            <div class="row">
                                <div class="col-sm-3">
                                    <span class="img-url-icon"><i [ngClass]="card1.imageUrl"></i></span>
                                </div>
                                <div class="col-sm-9">
                                    <h4 class="rebate-text">
                                        {{ card1.title }}
                                    </h4>
                                </div>
                            </div>
                        </div>
                    </a>
                    <a [href]="card1.url" *ngIf="card1.isExtUrl" target="_blank" class="card-url">
                        <div class="card-body cat-card-body">
                            <div class="row">
                                <div class="col-sm-3">
                                    <span class="img-url-icon"><i [ngClass]="card1.imageUrl"></i></span>
                                </div>
                                <div class="col-sm-9">
                                    <h4 class="rebate-text">
                                        {{ card1.title }}
                                    </h4>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-3 col-sm-12" *ngIf="card2">
                <div class="card cat-card">
                    <a [href]="card2.url" *ngIf="!card2.isExtUrl">
                        <div class="card-body cat-card-body">
                            <div class="row">
                                <div class="col-sm-3">
                                    <span class="img-url-icon"><i [ngClass]="card2.imageUrl"></i></span>
                                </div>
                                <div class="col-sm-9">
                                    <h4 class="rebate-text">
                                        {{ card2.title }}
                                    </h4>
                                </div>
                            </div>
                        </div>
                    </a>
                    <a [href]="card2.url" *ngIf="card2.isExtUrl" target="_blank" class="card-url">
                        <div class="card-body cat-card-body">
                            <div class="row">
                                <div class="col-sm-3">
                                    <span class="img-url-icon"><i [ngClass]="card2.imageUrl"></i></span>
                                </div>
                                <div class="col-sm-9">
                                    <h4 class="rebate-text">
                                        {{ card2.title }}
                                    </h4>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-3 col-sm-12" *ngIf="card3">
                <div class="card cat-card">
                    <a [href]="card3.url" *ngIf="!card3.isExtUrl">
                        <div class="card-body cat-card-body">
                            <div class="row">
                                <div class="col-sm-3">
                                    <span class="img-url-icon"><i [ngClass]="card3.imageUrl"></i></span>
                                </div>
                                <div class="col-sm-9">
                                    <h4 class="rebate-text">
                                        {{ card3.title }}
                                    </h4>
                                </div>
                            </div>
                        </div>
                    </a>
                    <a [href]="card3.url" *ngIf="card3.isExtUrl" target="_blank" class="card-url">
                        <div class="card-body cat-card-body">
                            <div class="row">
                                <div class="col-sm-3">
                                    <span class="img-url-icon"><i [ngClass]="card3.imageUrl"></i></span>
                                </div>
                                <div class="col-sm-9">
                                    <h4 class="rebate-text">
                                        {{ card3.title }}
                                    </h4>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-3 col-sm-12" *ngIf="card4">
                <div class="card cat-card">
                    <a [href]="card4.url" *ngIf="!card4.isExtUrl">
                        <div class="card-body cat-card-body">
                            <div class="row">
                                <div class="col-sm-3">
                                    <span class="img-url-icon"><i [ngClass]="card4.imageUrl"></i></span>
                                </div>
                                <div class="col-sm-9">
                                    <h4 class="rebate-text">
                                        {{ card4.title }}
                                    </h4>
                                </div>
                            </div>
                        </div>
                    </a>
                    <a [href]="card4.url" *ngIf="card4.isExtUrl" target="_blank" class="card-url">
                        <div class="card-body cat-card-body">
                            <div class="row">
                                <div class="col-sm-3">
                                    <span class="img-url-icon"><i [ngClass]="card4.imageUrl"></i></span>
                                </div>
                                <div class="col-sm-9">
                                    <h4 class="rebate-text">
                                        {{ card4.title }}
                                    </h4>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <!-- * Second Row of Rebastes * -->
            <div class="col-md-3 col-sm-12" *ngIf="card5">
                <div class="card cat-card">
                    <a [href]="card5.url" *ngIf="!card5.isExtUrl">
                        <div class="card-body cat-card-body">
                            <div class="row">
                                <div class="col-sm-3">
                                    <span class="img-url-icon"><i [ngClass]="card5.imageUrl"></i></span>
                                </div>
                                <div class="col-sm-9">
                                    <h4 class="rebate-text">
                                        {{ card5.title }}
                                    </h4>
                                </div>
                            </div>
                        </div>
                    </a>
                    <a [href]="card5.url" *ngIf="card5.isExtUrl" target="_blank" class="card-url">
                        <div class="card-body cat-card-body">
                            <div class="row">
                                <div class="col-sm-3">
                                    <span class="img-url-icon"><i [ngClass]="card5.imageUrl"></i></span>
                                </div>
                                <div class="col-sm-9">
                                    <h4 class="rebate-text">
                                        {{ card5.title }}
                                    </h4>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-3 col-sm-12" *ngIf="card6">
                <div class="card cat-card">
                    <a [href]="card6.url" *ngIf="!card6.isExtUrl">
                        <div class="card-body cat-card-body">
                            <div class="row">
                                <div class="col-sm-3">
                                    <span class="img-url-icon"><i [ngClass]="card6.imageUrl"></i></span>
                                </div>
                                <div class="col-sm-9">
                                    <h4 class="rebate-text">
                                        {{ card6.title }}
                                    </h4>
                                </div>
                            </div>
                        </div>
                    </a>
                    <a [href]="card6.url" *ngIf="card6.isExtUrl" target="_blank" class="card-url">
                        <div class="card-body cat-card-body">
                            <div class="row">
                                <div class="col-sm-3">
                                    <span class="img-url-icon"><i [ngClass]="card6.imageUrl"></i></span>
                                </div>
                                <div class="col-sm-9">
                                    <h4 class="rebate-text">
                                        {{ card6.title }}
                                    </h4>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-3 col-sm-12" *ngIf="card7">
                <div class="card cat-card">
                    <a [href]="card7.url" *ngIf="!card7.isExtUrl">
                        <div class="card-body cat-card-body">
                            <div class="row">
                                <div class="col-sm-3">
                                    <span class="img-url-icon"><i [ngClass]="card7.imageUrl"></i></span>
                                </div>
                                <div class="col-sm-9">
                                    <h4 class="rebate-text">
                                        {{ card7.title }}
                                    </h4>
                                </div>
                            </div>
                        </div>
                    </a>
                    <a [href]="card7.url" *ngIf="card7.isExtUrl" target="_blank" class="card-url">
                        <div class="card-body cat-card-body">
                            <div class="row">
                                <div class="col-sm-3">
                                    <span class="img-url-icon"><i [ngClass]="card7.imageUrl"></i></span>
                                </div>
                                <div class="col-sm-9">
                                    <h4 class="rebate-text">
                                        {{ card7.title }}
                                    </h4>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-3 col-sm-12" *ngIf="card8">
                <div class="card cat-card">
                    <a [href]="card8.url" *ngIf="!card8.isExtUrl">
                        <div class="card-body cat-card-body">
                            <div class="row">
                                <div class="col-sm-3">
                                    <span class="img-url-icon"><i [ngClass]="card8.imageUrl"></i></span>
                                </div>
                                <div class="col-sm-9">
                                    <h4 class="rebate-text">
                                        {{ card8.title }}
                                    </h4>
                                </div>
                            </div>
                        </div>
                    </a>
                    <a [href]="card8.url" *ngIf="card8.isExtUrl" target="_blank" class="card-url">
                        <div class="card-body cat-card-body">
                            <div class="row">
                                <div class="col-sm-3">
                                    <span class="img-url-icon"><i [ngClass]="card8.imageUrl"></i></span>
                                </div>
                                <div class="col-sm-9">
                                    <h4 class="rebate-text">
                                        {{ card8.title }}
                                    </h4>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- * FOOTER * -->
<app-footer></app-footer>
