<!-- * HOME * -->
<!-- * Section One * -->
<div class="row section-one" *ngIf="home">
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <h1 class="title">{{ home.sec1Title }}</h1>
                <p class="subtitle">
                    {{ home.sec1Subtitle }}
                </p>
            </div>
        </div>
    </div>
</div>

<div class="row image-section" *ngIf="home">
    <div class="container">
        <div class="text-center">
            <img [src]="home.sec1ImageUrl"
                 style="width:250px; height:250px;"
                 class="rounded-circle seal-img">
        </div>
    </div>
</div>

<!-- * Section Two * -->
<div class="row section-two" *ngIf="home">
    <div class="container">
        <div class="row">
            <div class="col-md-4 offset-md-1">
                <p class="sec-two">
                    {{ home.sec2TextLeft }}
                </p>
            </div>
            <div class="col-md-4 offset-md-2">
                <p class="sec-two">
                    {{ home.sec2TextRight }}
                </p>
            </div>
        </div>
    </div>
</div>

<!-- * Section Three * -->
<div class="row section-three" *ngIf="home">
    <div class="container">
        <div class="row mb-5">
            <div class="col-sm-12 text-center">
                <h2 class="serif">{{ home.sec3Title }}</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 offset-md-3 text-center">
                <p class="sans">{{ home.sec3CardLeftTitle }}</p>
                <br>
                <p class="icons">
                    <i [ngClass]="home.sec3CardLeftImageUrl"></i>
                </p>
            </div>
            <div class="col-md-2 text-center">
                <p class="sans">{{ home.sec3CardMiddleTitle }}</p>
                <p class="icons">
                    <i [ngClass]="home.sec3CardMiddleImageUrl"></i>
                </p>
            </div>
            <div class="col-md-2 text-center">
                <p class="sans">{{ home.sec3CardRightTitle }}</p>
                <br>
                <p class="icons">
                    <i [ngClass]="home.sec3CardRightImageUrl"></i>
                </p>
            </div>
        </div>

        <div class="row text-center mt-5">
            <div class="col-md-6 offset-md-3">
                <h5 class="section-three-subtitle">
                    {{ home.sec3Subtitle }}
                </h5>
                <p class="section-three-text mt-3 sans">
                    <span [innerHTML]="home.sec3Text"></span>
                </p>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-md-7" *ngIf="category1">
                <a [routerLink]="['/categories/', category1.slug]">
                    <figure class="caption">
                        <img class="category"
                             [src]="category1.homepageImageUrl"
                             [alt]="category1.name"/>
                        <figcaption class="caption-text">{{ category1.name }}</figcaption>
                    </figure>
                </a>
            </div>
            <div class="col-md-5" *ngIf="category2">
                <a [routerLink]="['/categories/', category2.slug]">
                    <figure class="caption-right">
                        <img class="category"
                             [src]="category2.homepageImageUrl"
                             [alt]="category2.name"/>
                        <figcaption class="caption-text">{{ category2.name }}</figcaption>
                    </figure>
                </a>
            </div>
        </div>
    </div>
</div>

<!-- * Section Four * -->
<div class="row section-four" *ngIf="home">
    <div class="container text-center">
        <div class="col-md-6 offset-md-3">
            <p class="bottom-icon sans">
                <i [ngClass]="home.sec4ImageUrl"></i>
            </p>
            <p class="section-four-text-top sans">
                {{ home.sec4Title }}
            </p>
            <p class="section-four-text-bottom serif">
                {{ home.sec4Text }}
            </p>
        </div>
    </div>
</div>


<!-- * FOOTER * -->
<app-footer></app-footer>
