.section-one {
    background-color: var(--sec-one-blue);
    padding: 5rem 0 3rem 0;
    text-align: center;
    color: var(--midnight);
}

.image-section {
    text-align: center;
    background-color: var(--sec-one-blue);
}

img.seal-img {
    margin-bottom: -6rem;
}

.section-two {
    background-color: var(--sec-two-blue) !important;
    padding: 10rem 0 8rem 0;
    text-align: center;
    color: var(--midnight);
}

.section-three {
    padding: 5rem 0;
    background-color: var(--light);
}

p > i.fal {
    color: var(--plum);
    font-size: 3rem;
}

.section-four {
    background-color: var(--sec-two-blue);
    padding: 8rem 0;
}

p.bottom-icon > i {
    color: var(--ice);
    font-size: 4rem;
}

.section-four-text-top {
    font-size: 1.5rem;
}

p.section-four-text-bottom {
    font-size: 1.5rem;
    font-style: italic;
}

.ibd-cat {
    background-color: var(--plum);
    margin: 0 0 18px 0;
    width: 100%;
    height: 300px;
    min-height: 300px;
    border-radius: 2px;
    display: inline-block;
    position: relative;
    /*background: url();*/
    background-size: cover;
    background-position: center;
}

/* Text Image Overlay */
.caption {
    position: relative;
    padding: 0;
    margin: 0;
}

.caption > img.category {
    display: block;
    width: 450px;
    height: 300px;
}

.caption:after {
    content: "";
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    width: 450px;
    height: 300px;
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, rgba(0, 0, 0, 0) 0px, var(--plum-rgb) 100%) repeat 0 0;
    z-index: 1;
}

.caption-text {
    font-family: var(--sans-serif);
    font-size: 2rem;
    display: block;
    position: absolute;
    width: 450px;
    color: #fff;
    left: 0;
    bottom: 0;
    padding: 1em;
    z-index: 2;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
