<!-- * PAGE-DETAIL * -->
<div class="row" *ngIf="page" id="stage">
    <img [src]="page.bannerPhotoURL" class="img-fluid banner-photo-url">
    <div class="container main">

        <div class="row flex-row pt-5">
            <h5 class="subtitle">
                <span *ngIf="isIBDRelationships">IBD &amp; Relationships</span>
                <span *ngIf="!isIBDRelationships">IBD &nbsp; Insurance</span>
            </h5>
        </div>

        <div class="row flex-row">
            <div class="row">
                <h1 class="title">{{ page.title }}</h1>
            </div>

            <div class="row">
                <p class="summary">
                    {{ page.metaDesc }}
                </p>
            </div>

            <div class="spacer"></div>

            <div class="text-sections">
                <div class="row" *ngIf="textSectionTop">
                    <div [innerHTML]="textSectionTop.body"
                         class="text-section">
                    </div>
                </div>

                <div class="row cta-image-row" *ngIf="page && cta && cta.imageUrl">
                    <img [src]="cta.imageUrl" class="img-fluid cta-img">
                </div>

                <div class="row" *ngIf="page && cta && cta.body">
                    <div [innerHTML]="cta.body"
                         class="cta">
                    </div>
                </div>

                <div class="row" *ngIf="textSectionBottom">
                    <div [innerHTML]="textSectionBottom.body"
                         class="text-section">
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="container-fluid main">
        <app-footer></app-footer>
    </div>
</div>

