<!-- * FOOTER * -->
<div class="navbar-fixed-bottom">
    <div class="row footer-top">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4">
                    <img [src]="myIbdLifeLogo" alt="myibd life logo" class="img-fluid logo">
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-7 text-right">
                    <p style="font-family: AvenirLTStd-Book, sans-serif; font-size: 18px; font-weight: 500; color: #fff; padding-bottom:1em;">
                        <span style="font-size:24px; padding-right:2rem;">
                            Connect with AGA
                        </span>
                        <a target="_blank" href="https://www.facebook.com/AmerGastroAssn/" class="social text-center"
                           style="margin-left: 10px; margin-bottom: 10px; position: relative;
                    width: 0px;
                    height: 0px;
                    padding:10px 14px;
                    border-radius: 20px;
                    -moz-border-radius: 20px;
                    -webkit-border-radius: 20px;
                    -khtml-border-radius: 20px;
                    background-color: #f2f6f8;">
                            <i class="fab fa-facebook-f" style="color:var(--ocean); margin-left:0.1em;"></i>
                        </a>
                        <a target="_blank"
                           href="https://twitter.com/amergastroassn/"
                           class="social text-center"
                           style="margin-left: 10px; margin-bottom: 10px;text-align: center;
                    width: 0px;
                    height: 0px;
                    padding:10px;
                    border-radius: 20px;
                    -moz-border-radius: 20px;
                    -webkit-border-radius: 20px;
                    -khtml-border-radius: 20px;
                    background-color: #f2f6f8;">
                            <i class="fab fa-twitter" style="color:var(--ocean); margin-left:0.1em;"></i>
                        </a>
                        <a target="_blank"
                           href="https://www.linkedin.com/company/american-gastroenterological-association-aga-/"
                           class="icon social in"
                           style="margin-left: 10px; margin-bottom: 10px;width: 0px;
                        height: 0px;
                        padding:10px 12px;
                        border-radius: 20px;
                        -moz-border-radius: 20px;
                        -webkit-border-radius: 20px;
                        -khtml-border-radius: 20px;
                        background-color: #f2f6f8;">
                            <i class="fab fa-linkedin-in" style="color:var(--ocean);"></i>
                        </a>
                        <a target="_blank"
                           href="https://www.youtube.com/user/AmerGastroAssn/"
                           class="social text-center"
                           style="margin-left: 10px; margin-bottom: 10px; width: 0px;
                    height: 0px;
                    padding:10px;
                    border-radius: 20px;
                    -moz-border-radius: 20px;
                    -webkit-border-radius: 20px;
                    -khtml-border-radius: 20px;
                    background-color: #f2f6f8;">
                            <i class="fab fa-youtube" style="color:var(--ocean);"></i>
                        </a>
                        <a target="_blank"
                           href="http://community.gastro.org/"
                           class="social text-center"
                           style="margin-left: 10px; margin-bottom: 10px; height: 0px;
                    padding:10px 8px;
                    border-radius: 20px;
                    -moz-border-radius: 20px;
                    -webkit-border-radius: 20px;
                    -khtml-border-radius: 20px;
                    background-color: #f2f6f8;">
                            <img src="https://s3.amazonaws.com/agaassets/images/community.png"
                                 alt="Community Forums"
                                 style="width: 25px; height: 25px; top: 7px;">
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row footer-bottom">
        <div class="container">
            <div class="text-center">
                <p class="copy">
                    &copy;&nbsp;2019 American Gastroenterological Association
                </p>
            </div>
        </div>
    </div>
</div>
