.navbar-fixed-bottom {
    bottom: 0;
    width: 100%;
}

.row.footer-top {
    background-color: var(--midnight);
    color: var(--cloud);
    padding: 5rem;
}

img.logo {
    padding-top: 2.5rem;
}

.connect {
    font-size: 24px;
    padding-right: 2rem;
}

.row.footer-bottom {
    background-color: var(--matt-blue);
    color: var(--cloud);
    padding: 2rem;
}

a.social:hover {
    background-color: var(--sky) !important;
}

a.social > i:hover {
    color: var(--matt-blue) !important;
}

p.copy {
    color: var(--cloud);
    font-family: var(--sans-serif);
}

/* Mobile */
@media (max-width: 767px) {
    .row.footer-top {
        padding: 1rem;
    }
    .connect {
        display: block;
        padding-bottom: 1rem;
    }
}
