<!-- * FOOTER * -->
<div class="fixed-bottom">
    <div class="row footer-top">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    AGA gi Patient Center
                </div>
                <div class="col-md-2">
                    <!-- * Blank * -->
                </div>
                <div class="col-md-5">
                    Social Media icons
                </div>
            </div>
        </div>
    </div>
    <div class="row footer-bottom">
        <div class="container">
            <div class="text-center">
                &copy;&nbsp;2019 American Gastroenterological Association
            </div>
        </div>
    </div>
</div>
